@import "tailwindcss";

@font-face {
  font-family: "SchoolSafeOuting";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/2408-5@1.0/HakgyoansimNadeuriTTF-L.woff2")
    format("woff2");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "SchoolSafeOuting";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/2408-5@1.0/HakgyoansimNadeuriTTF-B.woff2")
    format("woff2");
  font-weight: 700;
  font-display: swap;
}

@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@utility font-knit-muffler {
  font-family: "SchoolSafeOuting", sans-serif;
}
