.target {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.frame {
  position: relative;
  outline: 4px solid aqua;
  transform: skewY(-20deg);
  width: 100px;
  height: 100px;
}

.door {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 3;
  background: black;
  border: 1px solid aqua;
  width: 100px;
  height: 100px;
}

.backlight {
  position: absolute;
  inset: 0;
  z-index: 1;
  background: yellow;
}

.hidden-man {
  position: absolute;
  bottom: 0;
  left: 35px;
  z-index: 2;
  background: black;
  width: 30px;
  height: 50px;
  clip-path: url("#man");
  display: none;
}

.man-shadow {
  position: absolute;
  right: 135px;
  bottom: 300px;
  width: 30px;
  height: 50px;
  background: linear-gradient(0, black -40%, #000033 20%, transparent 100%);
  transform-origin: bottom;
  transform: perspective(50px) rotateX(40deg) scaleY(-1);
  clip-path: url(#man);
  display: none;
}

.floorlight {
  position: absolute;
  width: 300px;
  height: 300px;
  background: linear-gradient(0, transparent 30%, #ffff0033 60%, yellow 120%);
  transform-origin: top;
  transform: translate(-100px, 100px) skewX(40deg);
  clip-path: polygon(200px 0, 200px 300px, 200px 300px, 200px 0);
}
